<!DOCTYPE html>

<html>

   <head>
      <title>URL Shortener</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>Project: URL Shortener Microservice and API</h2>
        <h3>How it works: </h3>
        <ol>
          <li>I can POST a URL to <code>https://reagan-urlshort.glitch.me/api/shorturl/new</code> and I will receive a shortened URL in the JSON response.<br>Example : <code>{"original_url":"www.google.com","short_url":1}</code></li>
          <li>If I pass an invalid URL that doesn't follow the <code>http(s)://www.example.com(/more/routes)</code> format, the JSON response will contain an error like <code>{"error":"invalid URL"}</code><br>
          </li>
          <li>When I visit the shortened URL, it will redirect me to my original link.</li>
        </ol>
      </div>
      <div class="footer">
        <p>
          on <a href="https://www.glitch.com">Glich</a>
        </p>
      </div>
   </body>


</html>